<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>About Top Jobs</h2>
            <p>Top Jobs is a free Bootstrap theme. Its purpose is to provide unemployed people opportunities to be hired in different companies.
            <p>
                In order to get started, simply view the companies' offers <a href="#download" class="js-scroll-trigger">here</a>.
            </p>
            <p>This idea had occured because many people in our country have difficulties finding a new job, despite the fact that companies have multiple offer</p>
        </div>
    </div>
</div>