<div class="container">
    <div class="col-lg-8 mx-auto">
        <h2>Our offers</h2>
        <p>Select an offer from the following tables:</p>
        <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                    <span class="network-name">Web Offers</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                    <span class="network-name">Software Offers</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                    <span class="network-name">Gaming Offers</span>
                </a>
            </li>
        </ul>
        <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Security Offers</a>
    </div>
</div>